*.iml
.gradle
.idea
/build
/local.properties
.DS_Store
/captures
.externalNativeBuild

app/app.iml
/library/build/intermediates
library/build
library/library.iml
/.gradle


/.idea/
/.idea/workspace.xml
/.idea/libraries
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
/.app/app.iml
.idea/gradle.xml
.idea/runConfigurations.xml
/library/build

analytics_documentation
analytics_documentation/*